@import url(https://fonts.googleapis.com/css?family=Lato);

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');



body { font-family: 'Lato', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; font-size: 22px; }


h1, h2, h3 { font-family: 'Yanone Kaffeesatz'; }

h1, h2, h3 {color: #1F608B;}

.remark-code, .remark-inline-code { font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace; color: #436115; font-size: 22px;}
.remark-code-line-highlighted { background-color: rgba(187, 207, 220, 0.5);}

.remark-slide-content { font-size: 22px; color: #154361 }

.inverse {
  background-color: #184c6f;
}
.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #fff;
}
}